/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/Uploads/Banners/1580833428_Banner - home.png
public/Uploads/Banners/1580833447_Banner - home.png
public/Uploads/ArtisanProducts/1585238786_1582487614_kumkum.png
public/Uploads/ArtisanProducts/1585238823_1583058922_Yeah.jpg
public/Uploads/ArtisanProducts/1585238851_1582487733_streoflow.png
public/Uploads/Cart/15851677510.png
public/Uploads/Cart/15851677511.png
public/Uploads/Cart/15851677512.png
public/Uploads/Cart/15851677513.png
public/Uploads/Cart/15851677514.png
public/Uploads/CustomPatterns/1584643667_1582479649_09.jpg
public/Uploads/User/123.png
